/* Home screen */

.home-container {
  display: grid;
  margin: 5em auto;
  border: solid 3px black;
  justify-items: center;
  border-radius: 4px;
  padding-bottom: 2em;
}

/* Script Creation */

.create-container {
  display: grid;
  margin: 2em auto;
  border: solid 3px black;
  justify-items: start;
  padding: 2em 2em;
  border-radius: 4px;
}

/* editing script */

.script-container {
  display: grid;
  margin: auto;
  border: solid 3px black;
  justify-items: center;
  border-radius: 4px;
}

/* filming scene */

.scene-container {
  display: grid;
  margin: auto;
  border: solid 3px black;
  justify-items: center;
  border-radius: 4px;
}

/* Sketch Card - might not be necessary? */
/*
.sketch-container {
  display: grid;
  grid-template-rows: 3em auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title completed" "sketch sketch";
  margin: 2em auto;
  border: solid 3px black;
  box-shadow: 0 0 0.5em;
  justify-items: start;
  padding: 2em;
  border-radius: 4px;
}

.sketch-title {
  grid-area: title;
}

.completed {
  grid-area: completed;
  justify-self: end;
}

.sketch-body {
  grid-area: sketch;
}*/
/* Sketch Form */

.new-sketch-form {
  display: grid;
  margin: 2em auto;
  border: solid 3px black;
  justify-items: start;
  padding: 2em 2em;
  border-radius: 4px;
}

/* Filter */

.filter-container {
  display: grid;
  margin: 2em auto;
  border: solid 3px black;
  justify-items: center;
  border-radius: 4px;
  padding: 1em 2em 4em 2em;
}

.actor-btn-container {
  display: inline-grid;
  grid-template-areas: "plus" "minus";
  margin: auto 1em;
  gap: 0.5em;
}

.plus {
  grid-area: plus;
}

.minus {
  grid-area: minus;
}

/* SELECTOR */

.selector {
  margin: 1em;
}
